<div class="container profile">
  <div class="row">
    <div class="column one-third">
      <h1><%= @user.name %></h1>
    </div>
    <div class="column two-thirds">
      <%= form_for @user, :url => craftsman_update_path, :method => "PUT" do |f| %>
        <ul class="profile-list">
          <%= f.text_area :description, :value => @user.description, :class => "inline-input" %>
          <li>
            <%= f.submit "Save", :class => "button primary" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
