common: &common
  adapter: postgresql
  encoding: utf8
  username: postgres
  password: password
  pool: 5
  timeout: 5000

production:
  <<: *common
  database: footprints-public_production
  host: localhost
  username: pguser

development:
  <<: *common
  database: footprints-public_development

test:
  <<: *common
  database: footprints-public_test
