<div class="container matches">
  <div class="row">
  <% if @matches.present? %>
    <div class="column full">
      <table id="matches-table">
        <h2>Matched Challenges</h2>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @matches.each do |match| %>
            <tr>
              <td>
                <%= link_to chat_path(match[:fighter].id) do %>
                  <%= match[:fighter].name %>
                <% end %>
              </td>
              <td><%= match[:fighter].email %></td>
              <td><%= link_to 'Match', show_match_path(match[:match].id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <h4>No Matches</h4>
    <p>You currently have no matches. Check back later or challenge some more fighters!</p>
  <% end %>
  </div>
</div>
